header {
  position: fixed;
  display: flex;
  align-items: center;
  flex: 1;
  width: 80%;
  background: white;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-radius: 10px;
  opacity: 90%;

  .links{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
  }

  .header-child {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-child:first-child > div {
    margin-right: auto;
  }
  .header-child:last-child > a:first-child {
    margin-left: auto;
  }

  .hover-stats {
    cursor: pointer;
  }

  #about-button {
    margin-left: auto;
    cursor: pointer;
  }

  .hover-div {
    position: relative;
    padding-left: 10px;

    .stats-list-div {
      position: absolute;
      left: 0px;
      top: 50px;
      opacity: 90%;
      font-size: 12px;
      display: none;

      .stats-list {
        display: flex;
        flex-direction: column;
        width: 900px;
        padding: 5px;

        li {
          padding: 2px 5px;
          text-align: left;
        }
      }
    }
  }

  .hover-div:hover .stats-list-div{
    display: block;
  }

  .nav-links {
    img {
      width: 40px;
    }

    .links:hover {
      transform: scale(1.1);
    }
  }

  .header-center{
    cursor: default;
    img {
      height: 50px;
    }

    h1 {
      padding: 10px;
      font-size: 24px;
    }
  }

}
