@import "./colors";

section.ml {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;

  div.ml-ui-container {
    border: 1px solid $base-blue;
    border-radius: 10px;
    width: 80%;
    padding: 5px;
    display: flex;
  }

  div.ml-ui {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid $base-red;
    border-radius: 10px;
    padding: 20px 0px;

    h2 {
      font-weight: 700;
      margin: 10px 0px;
    }

    > p {
      padding: 10px;
    }

    .ml-input {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;

      .train-stats-selects {
        margin-top: 15px;
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        label {
          margin-right: 10px;
        }
      }
    }
  }

  .ml-plots {
    display: flex;
  }

}

.buttons-div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  width: 50%;

  label {
    margin-right: 10px;
    font-weight: 700;
  }

  .error {
    position: absolute;
    top: -25px;
    color: $base-red;
  }
}

.ml-button{
  color: white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.1s;

  &:hover {
    transform: scale(1.1);
  }

  &.disabled {
    cursor: not-allowed;
    filter: brightness(0.8);

    &:hover {
      transform: none;
    }
  }
}

#train-button {
  background: $red-80;
  border: 3px solid $base-red;
}

#clear-button {
  background: $blue-80;
  border: 3px solid $base-blue;
}
