@import "styles/reset";

body {
  font-family: sans-serif;
}

.tooltip {
  display: flex;
  flex-direction: column;
}

circle {
  opacity: 0.8;
  fill: lightblue;
}

circle.all-star {
  fill: violet;
}

.tick line {
  stroke: lightgray;
}

.axis path {
  stroke: lightgray;
}

.axis-label {
  font-weight: 700;
  font-size: 16px;
}
