@import "styles/reset";

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scatter {
  display: flex;
}

.scatter-selects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

circle {
  opacity: 0.6;
  fill: lightblue;
  border: 1px solid black;
}

circle.all-star {
  fill: violet;
}

.tick line {
  stroke: lightgray;
}

.axis path {
  stroke: lightgray;
}

.axis-label {
  font-weight: 700;
  font-size: 16px;
}
