@import "styles/reset";

body {
  font-family: sans-serif;
}

.tooltip {
  display: flex;
  flex-direction: column;
}

circle {
  opacity: 0.8;
  fill: lightblue;
}

.tick line {
  stroke: lightgray;
}

.axis path {
  stroke: lightgray;
}
